.cust-fixed{
background:#fff;
width:100%;
height:95rpx;
position:fixed;
top:0;
}
.search{
  background:#F6F6F6;
  font-size:26px;
  width:710px;
  margin-left:20px;
  margin-top:20px;
  height:60rpx;
  display:flex;
  // position:fixed;
}
.search input{
  margin:0 auto;
  width:180px;
  height:60rpx;
  text-align:center;
}
.search>view{
  width: 70rpx;
background: #fff;
line-height: 60rpx;
padding-left: 30px;
}
.content{
  margin-top:110rpx;
background:#fff;
}
.content-a{
  border-bottom:1px solid #eee;
  padding:20rpx;
  display:flex;
  justify-content: space-between;
  &-name{
    display:flex;
    font-size:26rpx;
    &-pic{
      width:50rpx;height:50rpx;
      border-radius: 50%;
    }
    &-user{
      margin-left:20rpx;
      line-height:50rpx;
      font-weight:bold;
      &-t{
        color:#999;
        font-size:24rpx;
        font-weight:400;
        margin-left:5rpx;
      }
    }
  }
}
.cartnum{
  font-size:26rpx;
color:#343C49;
line-height:50rpx;
}
.cartnum>text{
  color:#1BBC3D;
  font-size:30rpx;
  font-weight:bold;
  margin-left:10rpx;
}

.no-data-view{flex-direction:column;align-items:center;padding-top:300px;width:100%;}
.no-data-image{margin:0 auto;width:146px;height:160px;margin-bottom:50px;display:block;}
.no-data-text{text-align:center;color:#999;line-height:130%;font-size:28px;}
.no-data-btn{width:176px;height:60px;border-width:0;margin-top:38px;text-align:center;background:#ffe71c;border-radius:6px;font-size:28px;line-height:60px;margin-bottom:48px}

