.set {
  flex-direction: column;
  display: flex;
}

.set-row {
  justify-content: space-between;
  padding: 25rpx;
  background: #fff;
  border-bottom: 1px solid #eee;
  font-size: 28rpx;
  display: flex;
  // margin-top:15rpx;
}

.set-money {
  display: flex;
  justify-content: space-between;
  width: 450rpx;
}

.set-money>input {
  width: 380rpx;
}

.picker {
  color: #999;
}

.pcolor {
  color: #999;
}

image {
  width: 25rpx;
  height: 25rpx;
  margin-top: 5rpx;
}

.btn {
  // margin-top: 39rpx;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #1BBC3D;
  padding: 0 20px;
  height: 90px;
  line-height: 90px;
  color: #fff;
}

.footer-bar{
  width: 100%;
  height: 120px;
}

// .btn>text{
//   color:#fff;
// // border:1rpx solid #1BBC3D;
// background:#1BBC3D;
// text-align:center;
// border-radius:10rpx;
// width:80%;
// padding:20rpx 235rpx;
// }
.choosedate {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.mengc {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.7;
}

.pickdata {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 2;
}

.hint {
  padding: 5rpx 20rpx 20rpx 20rpx;
  font-size: 24rpx;
  color: #999;
}
