.product-confirm {
  // margin-top:15px;
  margin-bottom:100px;
}
.confirm-order{
  position:fixed;
bottom:0;
display:flex;
justify-content: space-between;
font-size:28px;
width:100%;
background:#fff;
}
.con{
  display:flex;
  justify-content: space-between;
}
.banner{
  background: #fff;
margin: 20px 20px 0px 20px;
border-radius: 5px;
display: flex;
justify-content: space-between;
padding: 20px;
font-size: 28px;
width:650px;
}

.delete-img{
  width:40px;height:40px;
  margin-right:20px;margin-top:37px
  
}

.info{
  -o-text-overflow: ellipsis;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 2;
overflow: hidden;
width:360px;
text-align: right;
}



.btn{
  display:flex;
justify-content: space-between;
width:100%;
}

.btn>view{
border-radius:10rpx;
width:680rpx;
text-align:center;
padding:15rpx 0;
margin:0 auto;
margin-top:10rpx;
margin-bottom:10rpx;
background:#1BBC3D;
  color:#fff;
}


.no-data-view {
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    width: 100%;
}

.no-data-image {
    margin: 0 auto;
    width: 146px;
    height: 160px;
    margin-bottom: 50px;
    display: block;
}

.no-data-text {
    text-align: center;
    color: #999;
    line-height: 130%;
    font-size: 30px;
}

.no-data-btn {
    width: 176px;
    height: 60px;
    border-width: 0;
    margin-top: 38px;
    text-align: center;
    background: #ffe71c;
    border-radius: 6px;
    font-size: 30px;
    line-height: 60px;
    margin-bottom: 48px
}