.cust-fixed{
background:#fff;
width:100%;
height:95rpx;
position:fixed;
top:0;
}
.search{
  background:#F6F6F6;
  font-size:26px;
  width:710px;
  margin-left:20px;
  margin-top:20px;
  height:60rpx;
  // position:fixed;
}
.search input{
  margin:0 auto;
  width:160px;
  height:60rpx;
}
.content{
  // margin-top:110rpx;
// background:#fff;
}
.content-a{
  // border-bottom:1px solid #eee;
  padding:20rpx;
  background:#fff;
  &-name{
    display:flex;
    font-size:26rpx;
    &-pic{
      width:50rpx;height:50rpx;
      border-radius: 50%;
    }
    &-user{
      margin-left:20rpx;
      line-height:50rpx;
      font-weight:bold;
      &-t{
        color:#999;
        font-size:24rpx;
        font-weight:400;
        margin-left:5rpx;
      }
    }
  }
}
.content-statis{
  background:#F9F9F9;
  // display:flex;
  // justify-content: space-between;
  // flex-wrap: wrap;
  padding:20rpx;
  margin-top:20rpx;
}
.left{
  border-right:1px solid #eee;
}
.statis-a{
  display:flex;
  flex-direction: row;
  text-align: center;
  font-size:26rpx;
  width:335rpx;
}
.statis-a>text:last-child{
  color:#1BBC3D;
  // font-size:32rpx;
  font-weight:bold;
  margin-bottom:20rpx;
  margin-left:15rpx;
}
.orange{
  color:#FF840B !important;
}
.btns{
  text-align: right;
  margin-top:20rpx;
}
.btns>text{
  padding:10rpx 25rpx;
  border:1px solid #888888;
  font-size:24rpx;
  color:#585D66;
  margin-left:10rpx;
  border-radius: 10rpx;
}
.btns-n{
  background:#1BBC3D;
  color:#fff !important;
  border:1px solid #1BBC3D !important;
}
.content-b{
  background:#fff;
  margin-top:15rpx;
  padding:20rpx;
}
.content-title{
  text-align: center;
  margin-bottom:30rpx;
}
.content-title>image{
  width:30rpx;
  height:25rpx;
  margin:0 10rpx;
  margin-top:12rpx;
}
.con-row{
  margin:0 30rpx;
  background:#F9F9F9;
  padding:20rpx;
  margin-bottom:3rpx;
  display:flex;
  justify-content: space-between;
}
.con-row>text{
  font-size:34rpx;font-weight:bold;color:#343C49;
  line-height: 70rpx;
}
.con-col{
  display:flex;
  flex-direction: column;
  text-align: right;
}
.con-col>text:first-child{
  color:#FF671E;
  font-size:30rpx;
  font-weight:bold;
}
.con-col>view{
  color:#999;
  font-size:24rpx;
}
.nolist{
text-align: center;
font-size: 28rpx;
margin-top: 50rpx;
color: #888;
}