.set{
  margin-top:15rpx;
  flex-direction: column;
}
.set-row{
  justify-content:space-between;
padding:25rpx;
background:#fff;
border-bottom:1px solid #eee;
font-size:28rpx;
position:relative;
}
.gtset{
  color:#999;
  font-size:27rpx;
  position:absolute;
  right:20rpx;
  display:inline-block;
}
.gtset>image{
  width:17rpx;
height:25rpx;
margin-top:7rpx;
margin-left:10rpx;
}
.phone{
  position: absolute;
  right:20rpx;
}
.btn{
  margin:0 auto;
  margin-top:100rpx;
  text-align: center;
}
.btn>text{
  color:#1BBC3D;
border:1rpx solid #1BBC3D;
background:#fff;
text-align:center;
border-radius:10rpx;
width:600rpx;
padding:20rpx 235rpx;

}
.version{
  position:absolute;
  bottom:70px;
  width:100%;
  text-align: center;
}
.version text{
  font-size:28px;
  margin:0 auto;
}