.qc-menu-card {
  background: #fff;
  margin-bottom: 15rpx;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 30px;
    border-bottom:#eee;
  }
  &__more {
    color: #666;
    font-size: 28px;
  }
  &__icon {
    margin-left: 10px;
    font-size: 26px;
  }
}
