.mall1 {
  padding: 0 30px 30px;
  box-sizing: border-box;
  background: #fff;
  &__banner {
    position: relative;
    .cover {
      width: 100%;
      height: 340px;
      border-radius: 10px;
    }
    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-width: 16px;
      border-style: solid;
      border-color: transparent transparent white transparent;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__products {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
  }
  &__product {
    flex: 330px 0 1;
    margin-top: 20px;
    .cover {
      border: 1px solid #eee;
      width: 330px;
      height: 330px;
      vertical-align: top;
    }
    &-title {
      margin: 15px 0;
      font-size: 32px;
      font-weight: 400;
      height: 86px;
      @include ellipsis-line(2);
    }
    &-info {
      display: flex;
      align-items: flex-end;
      .money {
        .price {
          font-size: 26px;
          color: #ff2828;
          font-weight: 600;
          .count {
            margin-right: 10px;
            font-size: 32px;
          }
        }
      }
      .orgin-price {
        font-size: 26px;
        color: #9e9e9e;
        text-decoration: line-through;
      }
    }
  }
}
